<div id="settings_wrapper">
</div>
<%- model_class = Contact -%>
<div class="alert alert-info">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>

<div class="well">
<table id="contacts" class="table table-striped">
  <thead style="background-color: lightgrey;">
    <tr>
   
      <th><h2>Import Contact</h2>
 <br>
<%= form_tag import_data_path, multipart: true do %>
  <%= file_field_tag :file_cont %>
  <br>
  <%= submit_tag "Import" %>

  
<% end %>
</th>
 
    </tr>
  </thead>
  <tbody>
   
</div>





 
